* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: -5rem;
    background-color: #FBF3D5;
}

body, .quote-input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    background-color: #EFBC9B;
    padding: 1rem;
    border-radius: 1rem;
    width: 1000px;
    max-width: 90%;
}

.timer {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #EFBC9B;
    font-weight: bold;
}


.wpm {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: #EFBC9B;
}


.quote-display {
    color: black;
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    user-select: none;
    font-size: 30px;
    font-weight: bold;
}

.quote-input{
    color: black;
    background-color: transparent;
    border: 2.5px solid #a48069;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    font-size: 20px;
}

.quote-input:hover {
    border-color: black;
}

.correct {
    color: rgba(0, 128, 0, 0.725);
}

.incorrect {
    color: rgba(248, 23, 23, 0.661);
    text-decoration: underline;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FBF3D5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #888;
}

.hidden {
    display: none !important;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


button {
  --button_radius: 1em;
  --button_color: #FBF3D5;
  --button_outline_color: #578377;
  font-size: 17px;
  font-weight: bold;
  border: none;
  margin-top: 10px;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  padding: 20px;
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover{
  background: var(--button_outline_color);
  color: var(--button_color);
  transform: translateY(-0.33em);
}

button:active{
  transform: translateY(0);
}

.row {
    list-style: none;
    display: flex;
    margin: 0.1rem;
    padding: 0;
}

.keyboard {
    margin: -5rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    position: absolute;
    top: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#Tab {
    width: 6rem;
}

#CapsLock {
    width: 7rem;
}

#Shift {
    width: 9rem;
}

#Enter {
    width: 7rem;
}


#Backspace {
    width: 7rem;
}


li {
    color: #000000;
    height: 3em;
    width: 3em;
    border-radius: 0.4em;
    margin-top: 0em;
    margin-left: 0.5em;
    line-height: 3em;
    letter-spacing: 1px;
    transition: 0.3s;
    text-align: center;
    font-size: 1em;
}

.pinky {
    color: #000000;
    background-color: #9B4444;
    border: 2px solid #582424;
}

.ring {
    color: #000000;
    background-color: #EFBC9B;
    border: 2px solid #ad7e5e;
}

.middle {
    color: #000000;
    background-color: #9CAFAA;
    border: 2px solid #637f78;
}

.pointer1st {
    color: #000000;
    background-color: #D6DAC8;
    border: 2px solid #757e55;
}

.pointer2nd {
    color: #000000;
    background-color: #F6F193;
    border: 2px solid #98943c;
}

.space {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #F6F193;
    border: 2px solid #98943c;
}


.row-4 {
    justify-content: center;
}

.pressed {
    background-color: #ffffff;
    transform: scale(1.2);
}